.acrit-info-widget{
    background: rgba(0,0,0,0);
    overflow: hidden;
    position: relative;
    margin: -15px -30px -15px -11px;
    padding: 11px 120px 17px 14px;
    border: 1px solid;
    border-color: #fafcfe #e6f0f5 #c6cfd6 #c6cfd6;
    border-radius: 4px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
    min-width: 355px;
}

.acrit-info-widget .show-gadget-title{
    color: #1a1b1c;
    font-size: 20px;
    padding-left: 4px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.1);
    margin-bottom: 5px;
    overflow: hidden;
    word-break: break-all;
    height: 25px;
}

.acrit-info-widget .show-info-row{
    color: #69808e;
    font-size: 14px;
    padding-left: 4px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    font-weight: bold;
    height: 20px;
}

.acrit-info-widget .acrit-info-widget-button{
    border-radius: 3px;
    display: inline-block;
    height: 15px;
    padding: 10px 20px;
    position: relative;
    float: left;
    border: 1px solid #2980b9;
    background: #2980b9;
    margin: 10px 15px 0px 5px;
}

.acrit-info-widget .acrit-info-widget-button .acrit-info-widget-button-text{
    line-height: 16px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(106,109,111,0.3);
}

.acrit-info-widget .acrit-info-widget-button:hover{
    background: #3498db;
}

.acrit-info-widget .acrit-info-widget-button.acrit-info-widget-button-buy{
    border: 1px solid #27ae60;
    background: #27ae60;
    float: none;
}

.acrit-info-widget .acrit-info-widget-button.acrit-info-widget-button-buy:hover{
    background: #2ecc71;
}

.acrit-info-widget .acrit-info-widget-button.acrit-info-widget-button-buy .acrit-info-widget-button-text{
    text-shadow: 0 -1px 0 rgba(106,109,111,0.3);
}

.acrit-info-widget .logo{
    background: rgba(0,0,0,0) url(images/logo.png) no-repeat scroll 0 0;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 60px;
    width: 136px;
}

.acrit-info-widget + .bx-gadgets-color-config-close{background:rgba(0,0,0,0) url("images/icons.png") no-repeat scroll 0 0;height:20px;position:absolute;right:15px;top:6px;width:20px;display:none;}
.acrit-info-widget:hover + .bx-gadgets-color-config-close, .acrit-info-widget + .bx-gadgets-color-config-close:hover{display:block;}
.acrit-info-widget + .bx-gadgets-color-config-close + .bx-gadgets-side{background:rgba(0,0,0,0) url("images/stitch.png") repeat-y scroll left top;}